# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
SandiaC3/content/rd100-videos/RD100_ControlSystemActiveDampening.mp4
SandiaC3/content/rd100-videos/RD100_UWBG_RandD100_4_21_1.mp4
SandiaC3/content/rd100-videos/RD100_Microgrid Toolkit.mp4
SandiaC3/content/rd100-videos/RD100_SGHAT 2013.mp4
SandiaC3/content/rd100-videos/RD100_SolidSenseGas Analyzer.mp4
